hr {
    border: 3px solid black;
    width: 100%;
}

#timeID {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    border-right: 1px solid black;
}

#buttonID {
    border-top: 1px solid white;
}

#saveButton {
    border-left: 1px solid black;
}